body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header backimage {
    background : url("Images/backgroundmountain.jpg");
    width: auto; /* Adjust the width as needed */
    height: 100vh; /* Maintain aspect ratio */
    display: block; /* Ensure the image is on its own line */
    margin-left: 0px; /* Adjust margins for positioning */
    margin-bottom: 0px;

  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  section#about {
    background-color: #f9f9f9;
  }
  
  section#projects {
    background-color: #e0e0e0;
  }
  
  section#contact {
    background-color: #f0f0f0;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  